.admin_buttons
{
	color: #000;
	background: #ffa20f;
	border: 2px outset #d7b9c9
} 

#poza_camin
{
	border-radius : 1em;
	-moz-border-radius : 1em;
	width : 400px;
	height : 300px;
	padding-top : 30px;
	background-image : url('../pics/c11.JPG');
	margin : 0 auto;
	margin-top : 15px;
}