.pizza
{
	width : 80%;
	background-color : white;
	margin : 0 auto;
	border-radius : 1em;
	-moz-border-radius : 1em;
	padding-left : 10px;
	padding-top : 5px;
}

.command_content
{
	padding-left : 10px;
}