@CHARSET "ISO-8859-1";
#main_panel
		{
			background-color : #CC6600;
			width : 900px;
			margin : 0 auto;
			border-radius : 1em;
			-moz-border-radius : 1em;
			padding-top : 3px;
			height : 850px;
			min-width : 700px;
		}
		
#logo_panel
		{
			height : 180px;
			border-radius : 1em;
			-moz-border-radius : 1em;
			margin-left : 5px;
			margin-right : 5px;
			background : url('pics/bucatar.png') no-repeat white;
			background-size: 100%;
		}
		
#navigation_panel 
		{
			text-align : center;
			margin-top : 10px;
			width : 580px;
			margin-left : auto;
			margin-right : auto;
			-moz-user-select: none;
		}
		
ul#navigation_bar
		{
			list-style-type : none;
			display : inline;
		}